html, body {
	height: 100vh;
	background-color: #333;
}


h1, h2, h3, h4, i, p, a {
    text-decoration: none;
	color: #fff;
	text-align: center;
	margin: 10px, auto;
	font-family: 'Economica', sans-serif;
	font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.2em;
}
a:hover {
    background-color: white;
    color: #000;
    font-weight: bold;
    padding: 5px, 15px;
}

ul {
    color: #fff;
    list-style: none;
    margin: auto;
    padding: 5px;
    line-height: 2em;
}

h1 {
    font-weight: bold;
    font-size: 4em;
}

small {
    font-size: 70%;
}

button {
	background-color: rgba(0, 0, 0, .4);
	color: #fff;
	font-family: 'Economica', sans-serif;
	font-weight: normal;
	font-size: 1.4em;
	width: max-content;
	padding: 5px, 10px;
	border: 1px solid white;
}


footer {
	padding: 10px 0;
	height: 130px;
	position: absolute;
	bottom:0;
    border-top: 3px white groove;
	background-color: #333;
	width: 100vw;
	text-align: center;
    flex-grow: 1;
    z-index: 5;


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
    background: rgb(149,149,149); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgb(149,149,149) 0%, rgb(13,13,13) 46%, rgb(1,1,1) 50%, rgb(10,10,10) 53%, rgb(78,78,78) 76%, rgb(56,56,56) 87%, rgb(27,27,27) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgb(149,149,149) 0%,rgb(13,13,13) 46%,rgb(1,1,1) 50%,rgb(10,10,10) 53%,rgb(78,78,78) 76%,rgb(56,56,56) 87%,rgb(27,27,27) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgb(149,149,149) 0%,rgb(13,13,13) 46%,rgb(1,1,1) 50%,rgb(10,10,10) 53%,rgb(78,78,78) 76%,rgb(56,56,56) 87%,rgb(27,27,27) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#spacer {
    width: 100%;
    height: 30px;
}

#menu-icon {
    cursor: pointer;
}

#menu-list {
    display: none;
}

#social-icons ul li {
	display: inline-block;
	padding: 0 5px;
}

#social-icons {
	width: content-width;
	margin: auto;
}

#wrapper {
	width: 100vw;
	margin: 0 auto;
	padding: 0;
	background-color: #fff;
	overflow: hidden;
}

#menu-box {
    position: absolute;
    text-align: center;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    margin: auto;
    width: 210px;
    height: max-content;
    border-right: 5px solid white; 
    border-left: 5px solid white;
    /*border-top: 1px solid white;
    border-bottom: 1px solid white;*/
    border-radius: 5px;
    background-color: rgba(255,255,255, 0);
    z-index: 6;
    

}

#left {
	position: absolute;
    left: 0;
    text-align: center;
	background-color: #777;
	background-image: 
		linear-gradient(rgba(0, 255, 255, 0.2), rgba(0, 255, 255, 0.2)),
		url("skyscrapers.jpg");
	background-size: cover;
	background-position: center;
	width: 50%;
    height: 650px;
	
}


#right {
	position: absolute;
    right: 0;
    text-align: center;
	background-color: #777;
	background-image: 
		linear-gradient(rgba(0, 255, 255, 0.2), rgba(0, 255, 255, 0.2)),
		url("city_plan.jpg");
	background-size: cover;
	background-position: left;
	width: 50%;
	height: 650px;
	
	z-index: 2;

}

#color-overlay-left {
   position: absolute;
   top: 106px;
   right: 0;
   width: 95%;
   height: 445px;
   background-color: rgba(0,0,0, 0.75);
   z-index: 1;
}

#color-overlay-right {
   position: absolute;
   top: 135px;
   left: 0;
   width: 95%;
   height: 450px;
   background-color: rgba(255, 153, 0, 0.7);
   z-index: 1;
}


#left:hover, #right:hover {
	-moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);

    -webkit-transition: transform .75s ease-in-out;
    -moz-transition:transform .75s ease-in-out;
    -ms-transition:transform .75s ease-in-out;
}

button:hover {
    color: rgb(255, 153, 0);
}

footer i:hover {
	color: rgb(255, 153, 0);
    background-color: transparent;
}

#left:hover {
	z-index: 3;
}


#hex-right:before {
    content: "";
    width: 0; height: 0;
    border-bottom: 60px solid rgba(0,115,115, .7);
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
    position: absolute;
    top: -60px;
    left: 0;
}

#hex-right {
    margin-top: -20;
    margin-left: auto;
    margin-right: auto;

    width: 208px;
    height: 120px;
    background-color: rgba(0,115,115, .7);
    position: relative;
    z-index: 10;
}

#hex-right:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -60px;
    border-top: 60px solid rgba(0,115,115, .7);
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
    right: 0;
}

#hex-left:before {
    content: "";
    width: 0; height: 0;
    border-bottom: 60px solid rgba(255,153,0, .7);
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
    position: absolute;
    top: -60px;
    left: 0;
}

#hex-left {
    margin-top: 500px;
    margin-left: 0;
    width: 208px;
    height: 120px;
    background-color: rgba(255,153,0, .7);
    position: relative;
    z-index: 7;
}

#hex-left:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -60px;
    border-top: 60px solid rgba(255,153,0, .7);
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
    right: 0;
}


@media only screen and (max-width: 750px){

    h1 {
        font-size: 2em;
    }

	#left, #right {
		width: 100%;
		display: block;
	}

	#color-overlay-left, #color-overlay-right {

	    width: 90%;
        height: 430px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #left, #right {
        position: relative;
        display: block;
    }

    footer {
        position: relative;
    }

    #left:hover, #right:hover {

        -moz-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -o-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        transform: scale(1.0);

    }

    #hex-right {
        margin-top: 360px;
        margin-right: auto;
        margin-left: auto;
    }

    #hex-left {
        z-index:2;
        margin-top: 60px;
        margin-right: auto;
        margin-left: auto;

    }

    #the-architects {
        display: none;
    }




}